*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/c38a2d52-138e-48a3-ab68-36787ece46b3/eeb03fc9-99c6-438e-824d-32917ce55783/IN-en-20240101-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 800px;
    position: relative;
    background-repeat:no-repeat;
    background-size: max(1200px,100vw);
    background-position: center center;
}
.main .box{
    height: 800px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 60vw;
    justify-content: space-between;
    display: flex;
    margin: auto;
    align-items: center;
    height: 62px;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position:relative;
    z-index: 10;
}
.hero{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 10px;
    padding: 0 30px;
}
.hero> :first-child{
    font-weight: 600;
    font-size: 30px;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 20px;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.btn{
    font-family: 'Poppins',sans-serif;
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color:red;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid  rgba(246,238,238,0.5);
}
.btn-red-sm{
    background-color:red;
    color: white;
}